// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@import 'tweaks-temp';
@import 'color-palette';

$theme_default_color: if($variant == 'light', {{ primary_light }}, {{ primary_dark }});
$theme_purple_color:  if($variant == 'light', {{ primary_light }}, {{ primary_dark }});
$theme_pink_color:    if($variant == 'light', {{ tertiary_light }}, {{ tertiary_dark }});
$theme_red_color:     if($variant == 'light', {{ error_light }}, {{ error_dark }});
$theme_orange_color:  if($variant == 'light', {{ secondary_light }}, {{ secondary_dark }});
$theme_yellow_color:  if($variant == 'light', {{ secondary_light }}, {{ secondary_dark }});
$theme_green_color:   if($variant == 'light', {{ tertiary_light }}, {{ tertiary_dark }});
$theme_teal_color:    if($variant == 'light', {{ primary_light }}, {{ primary_dark }});
$theme_blue_color:    if($variant == 'light', {{ secondary_light }}, {{ secondary_dark }});

@if $color_type == 'nord' {
  $theme_default_color: if($variant == 'light', {{ primary_light }}, {{ primary_dark }});
  $theme_purple_color:  if($variant == 'light', {{ primary_light }}, {{ primary_dark }});
  $theme_pink_color:    if($variant == 'light', {{ tertiary_light }}, {{ tertiary_dark }});
  $theme_red_color:     if($variant == 'light', {{ error_light }}, {{ error_dark }});
  $theme_orange_color:  if($variant == 'light', {{ secondary_light }}, {{ secondary_dark }});
  $theme_yellow_color:  if($variant == 'light', {{ secondary_light }}, {{ secondary_dark }});
  $theme_green_color:   if($variant == 'light', {{ tertiary_light }}, {{ tertiary_dark }});
  $theme_teal_color:    if($variant == 'light', {{ primary_light }}, {{ primary_dark }});
  $theme_blue_color:    if($variant == 'light', {{ secondary_light }}, {{ secondary_dark }});
}

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

@function on($color, $state: 'primary') {
  // Allow 'light' or 'dark' to $color
  @if ($color == 'light') { $color: white; }
  @if ($color == 'dark') { $color: black; }

  // Calculate color brightness according to https://www.w3.org/TR/AERT/#color-contrast
  $brightness: (red($color) * 299 + green($color) * 587 + blue($color) * 114) / 1000;

  @if ($brightness >= 156) {
    @if ($state == 'primary') { @return {{ on_surface_light }}; }
    @if ($state == 'secondary') { @return {{ on_surface_variant_light }}; }
    @if ($state == 'disabled') { @return rgba({{ on_surface_light }}, 0.38); }
    @if ($state == 'secondary-disabled') { @return rgba({{ on_surface_light }}, 0.26); }
    @if ($state == 'track') { @return rgba({{ on_surface_light }}, 0.26); }
    @if ($state == 'track-disabled') { @return rgba({{ on_surface_light }}, 0.12); }
    @if ($state == 'divider') { @return {{ outline_variant_light }}; }
    @if ($state == 'secondary-fill') { @return rgba({{ on_surface_light }}, 0.08); }
    @if ($state == 'fill') { @return rgba({{ on_surface_light }}, 0.04); }
  } @else {
    @if ($state == 'primary') { @return {{ on_surface_dark }}; }
    @if ($state == 'secondary') { @return {{ on_surface_variant_dark }}; }
    @if ($state == 'disabled') { @return rgba({{ on_surface_dark }}, 0.38); }
    @if ($state == 'secondary-disabled') { @return rgba({{ on_surface_dark }}, 0.26); }
    @if ($state == 'track') { @return rgba({{ on_surface_dark }}, 0.26); }
    @if ($state == 'track-disabled') { @return rgba({{ on_surface_dark }}, 0.12); }
    @if ($state == 'divider') { @return {{ outline_variant_dark }}; }
    @if ($state == 'secondary-fill') { @return rgba({{ on_surface_dark }}, 0.08); }
    @if ($state == 'fill') { @return rgba({{ on_surface_dark }}, 0.04); }
  }
}

@function highlight($color) {
  @if (lightness($color) >= 80%) { @return rgba(white, 0); }
  @else if (lightness($color) >= 40%) { @return rgba(white, 0.2); }
  @else { @return rgba(white, 0.1); }
}

@function theme($color) {
  @if ($theme == 'default') { @return $theme_default_color; }
  @if ($theme == 'purple')  { @return $theme_purple_color; }
  @if ($theme == 'pink')    { @return $theme_pink_color; }
  @if ($theme == 'red')     { @return $theme_red_color; }
  @if ($theme == 'orange')  { @return $theme_orange_color; }
  @if ($theme == 'yellow')  { @return $theme_yellow_color; }
  @if ($theme == 'green')   { @return $theme_green_color; }
  @if ($theme == 'teal')    { @return $theme_teal_color; }
  @if ($theme == 'blue')    { @return $theme_blue_color; }
}

@function background($type) {
  @if ($type == 'a') { @return {{ surface_light }}; }
  @if ($type == 'b') { @return {{ surface_container_lowest_light }}; }
  @if ($type == 'c') { @return {{ surface_container_low_light }}; }
  @if ($type == 'd') { @return {{ surface_container_light }}; }
  @if ($type == 'e') { @return {{ surface_container_high_dark }}; }
  @if ($type == 'f') { @return {{ surface_container_highest_dark }}; }
  @if ($type == 'g') { @return {{ surface_dark }}; }
  @if ($type == 'h') { @return {{ surface_dim_dark }}; }
}

@function overlay($color, $state: 'normal') {
  @if ($state == 'normal') { @return rgba(on($color), 0.06); }
  @if ($state == 'hover') { @return rgba(on($color), 0.12); }
  @if ($state == 'focus') { @return rgba(on($color), 0.08); }
  @if ($state == 'active') { @return rgba(on($color), 0.20); }
  @if ($state == 'checked') { @return rgba(on($color), 0.15); }
  @if ($state == 'selected') { @return rgba(on($color), 0.1); }
}

@function solid_on($color, $state: 'normal') {
  @if ($state == 'normal') { @return mix(on($color), $color, 6%); }
  @if ($state == 'hover') { @return mix(on($color), $color, 12%); }
  @if ($state == 'focus') { @return mix(on($color), $color, 8%); }
  @if ($state == 'active') { @return mix(on($color), $color, 20%); }
  @if ($state == 'checked') { @return mix(on($color), $color, 15%); }
  @if ($state == 'selected') { @return mix(on($color), $color, 10%); }
}

//
// Basic colors
//

$primary:                               if($variant == 'light', {{ primary_light }}, {{ primary_dark }});
$drop_target_color:                     if($variant == 'light', {{ secondary_light }}, {{ secondary_dark }});
$indicator:                             theme(color);
$titlebar-indicator:                    if($variant == 'dark', currentColor, $primary);
$inverse-indicator:                     if($theme == 'default', white, $primary);
$applet-primary:                        if($topbar == 'dark' and $theme == 'default' and $variant == 'light', #DDDDDD, $primary);
$titlebar-primary:                      if($topbar == 'dark' and $theme == 'default' and $variant == 'light', if($color_type == 'nord', {{ surface_light }}, {{ surface_container_highest_light }}), $primary);
$osd-primary:                           if($theme == 'default', if($color_type == 'nord', {{ surface_light }}, {{ surface_container_highest_light }}), $primary);

$background:                            if($variant == 'light', background(a), background(g));
$surface:                               if($variant == 'light', background(a), background(h));
$base:                                  if($variant == 'light', background(a), background(g));
$base-alt:                              if($variant == 'light', background(b), background(f));
$sidebg:                                if($variant == 'light', background(b), background(f));

@if $sidebar == 'contrast' {
  $sidebg:                              if($variant == 'light', background(h), background(d));
}

@if $sidebar == 'styled' {
  $sidebg:                              $primary;
}

$login-background:                      if($variant == 'light', background(d), background(g)); // For gnome-shell

$tooltip:                               if($variant == 'dark', rgba(darken(background(e), 3%), 0.9), rgba(darken(background(h), 3%), 0.9));
$system:                                darken(background(e), 3%);
$osd:                                   background(e);
$scrim:                                 background(f);
$scrim-alt:                             background(g);
$scrim-inverse:                         rgba(white, 0.1);
$titlebar:                              if($topbar == 'dark', background(g), background(a));
$titlebar-backdrop:                     if($topbar == 'dark', background(g), background(a));
$popover:                               $base;
$panel-solid:                           if($topbar == 'dark', background(e), background(c)); // for Unity panel which doesn't allow translucent colors
$panel:                                 rgba($panel-solid, $panel_opacity);

$button:                                on($background, fill);
$entry:                                 on($background, fill);

//
// Misc colors
//

$link:                                  if($variant == 'light', {{ primary_light }}, {{ primary_dark }});
$link-visited:                          if($variant == 'light', {{ secondary_light }}, {{ secondary_dark }});

$warning:                               if($variant == 'light', {{ secondary_light }}, {{ secondary_dark }});
$error:                                 if($variant == 'light', {{ error_light }}, {{ error_dark }});
$success:                               if($variant == 'light', {{ tertiary_light }}, {{ tertiary_dark }});

$suggested:                             $primary;
$destructive:                           $error;

$frame:                                 if($variant == 'light', rgba(black, 0.12), rgba(black, 0.25));
$side-frame:                            if($variant == 'light', rgba(black, 0.25), rgba(black, 0.12));
$border:                                if($variant == 'light', rgba(black, 0.12), rgba(white, 0.12));
$side-border:                           if($variant == 'light', rgba(black, 0.1), rgba(white, 0.1));
$solid-border:                          if($variant == 'light', darken($background, 12%), lighten($background, 12%));
$border-alt:                            rgba(black, 0.16); // darker border color for Chrome and Firefox

//
// Overlay state colors
//

$overlay-normal:                        gtkalpha(currentColor, 0.05);
$overlay-hover:                         gtkalpha(currentColor, 0.08);
$overlay-focus:                         gtkalpha(currentColor, 0.08);
$overlay-focus-hover:                   gtkalpha(currentColor, 0.16);
$overlay-active:                        gtkalpha(currentColor, 0.12);
$overlay-checked:                       gtkalpha(currentColor, 0.10);
$overlay-selected:                      gtkalpha(currentColor, 0.06);

//
// Text and derivative colors
//

$text:                                  on($background);
$text-secondary:                        on($background, secondary);
$text-disabled:                         on($background, disabled);
$text-secondary-disabled:               on($background, secondary-disabled);
$track:                                 on($background, track);
$track-disabled:                        on($background, track-disabled);
$divider:                               on($background, divider);
$secondary-fill:                        on($background, secondary-fill);
$fill:                                  on($background, fill);

$titlebar-text:                         on($titlebar);
$titlebar-text-secondary:               on($titlebar, secondary);
$titlebar-text-disabled:                on($titlebar, disabled);
$titlebar-text-secondary-disabled:      on($titlebar, secondary-disabled);
$titlebar-track:                        on($titlebar, track);
$titlebar-track-disabled:               on($titlebar, track-disabled);
$titlebar-divider:                      on($titlebar, divider);
$titlebar-fill:                         on($titlebar, fill);

$panel-text:                            on($panel);
$panel-text-secondary:                  on($panel, secondary);
$panel-text-disabled:                   on($panel, disabled);
$panel-text-secondary-disabled:         on($panel, secondary-disabled);
$panel-track:                           on($panel, track);
$panel-track-disabled:                  on($panel, track-disabled);
$panel-divider:                         on($panel, divider);
$panel-fill:                            on($panel, fill);

// workaround for GTK3 @placeholder_text_color which doesn't allow translucent colors
$placeholder_text_color:                if($variant == 'light', mix(black, $base, percentage(0.6)), mix(white, $base, percentage(0.7)));