// ==========================================
// Rizzed Up Color Engine for MacTahoe
// ==========================================

$theme_color_default: {{ primary }};
$theme_color_blue:    {{ primary }};
$theme_color_purple:  {{ tertiary }};
$theme_color_pink:    {{ tertiary }};
$theme_color_red:     {{ error }};
$theme_color_orange:  {{ secondary }};
$theme_color_yellow:  {{ secondary }};
$theme_color_green:   {{ primary }};
$theme_color_grey:    {{ outline }};

$nord_color_default:  {{ primary }};
$nord_color_blue:     {{ primary }};
$nord_color_purple:   {{ tertiary }};
$nord_color_pink:     {{ tertiary }};
$nord_color_red:      {{ error }};
$nord_color_orange:   {{ secondary }};
$nord_color_yellow:   {{ secondary }};
$nord_color_green:    {{ primary }};
$nord_color_grey:     {{ outline }};
