* {
    transparency:       "real";
    fixed-num-lines:    true;
    padding:            10;
    border:             2;
    border-radius:      15 5 15 5;    
    background-color:   @surface-dim;
    text-color:         @on-surface;
}
