listview {
    lines:              5;
    columns:            1;
    scrollbar:          false;
}

element {
    spacing:            8;
    padding:            8;
    background-color:   transparent;
}
element.selected {
    background-color:   @primary;
    text-color:         @on-primary;
}

element-text {
    background-color:   @surface-dim;
}
element-text.selected {
	background-color:   @primary;
    text-color:     	@on-primary;
}

element-icon {
    size:               24;
}
element-icon.selected {
    background-color:   @primary;
}
