#pulseaudio {
	padding: 0 8;
    background-color:    @tertiary;
    color:               @on-tertiary;
    border-radius:       3px;
}

#pulseaudio.muted {
    background-color:    @error;
    color:               @on-error;
}
