#network {
	padding: 0 8;
    background-color:    @primary;
    color:               @on-primary;
    border-radius:       3px;
}

#network.disconnected {
    background-color:    @error;
    color:               @on-error;
}
