#window {
	padding: 0 8;
    background-color:    @tertiary;
    color:               @on-tertiary;
    border-radius:       3px;
}

window#waybar.empty #window {
    background-color:    transparent;
}
