#workspaces{
    border-radius:       3; 
    color:               @on-surface;
    background-color:    @surface-container-low;
}

#workspaces button:hover {
    background-color:    @on-primary-container;
    color:               @primary-container;
}

#workspaces button.focused {
    border-radius:       3; 
    background-color:    @primary;
    color:               @on-primary;
}
