#window {
	min-height: 0;
	padding: 0 8;
    color:               @tertiary;
}

window#waybar.empty #window {
	min-height: 0;
    background-color:    transparent;
}

window#waybar {
	min-height: 0;
    min-height: 0;
}
