// ~~ keybinds ~~

binds {
    // Launcher & Apps
    Super+Return { spawn "kitty"; }
    Super+E { spawn "nautilus"; }
    Super+Y { spawn "kitty" "-e"  "yazi"; }
    Super+R { spawn "~/.config/rofi/scripts/app_launcher/app_launcher.sh"; }
    Super+Escape { spawn "~/.config/rofi/scripts/session_manager/session_manager.sh"; }
    Super+P { spawn "~/.config/rofi/scripts/powermenu/powermenu.sh"; }

	// Focus
	Super+H { focus-column-left; }
	Super+L { focus-column-right; }
	Super+K { focus-workspace-up; }
	Super+J { focus-workspace-down; }

	Super+TouchpadScrollDown cooldown-ms=150 { focus-workspace-down; }
	Super+TouchpadScrollUp   cooldown-ms=150 { focus-workspace-up; }
	Super+TouchpadScrollRight                { focus-column-right; }
	Super+TouchpadScrollLeft                 { focus-column-left; }

    // Window management
    Super+C repeat=false { close-window; }
    Super+F repeat=false { fullscreen-window; }
    Super+Shift+F repeat=false { maximize-column; }
    Super+V { toggle-window-floating; }
    Super+Shift+V { switch-focus-between-floating-and-tiling; }
    Super+M { quit; }

	// window swapping
	Mod+Shift+H { swap-window-left; }
	Mod+Shift+L { swap-window-right; }

    // Overview
    Super+O { toggle-overview; }

    // Workspaces
    Super+1 { focus-workspace 1; }
    Super+2 { focus-workspace 2; }
    Super+3 { focus-workspace 3; }
    Super+4 { focus-workspace 4; }
    Super+5 { focus-workspace 5; }
    Super+6 { focus-workspace 6; }
    Super+7 { focus-workspace 7; }
    Super+8 { focus-workspace 8; }
    Super+9 { focus-workspace 9; }
    Super+0 { focus-workspace 0; }
    Super+Shift+1 { move-column-to-workspace 1; }
    Super+Shift+2 { move-column-to-workspace 2; }
    Super+Shift+3 { move-column-to-workspace 3; }
    Super+Shift+4 { move-column-to-workspace 4; }
    Super+Shift+5 { move-column-to-workspace 5; }
    Super+Shift+6 { move-column-to-workspace 6; }
    Super+Shift+7 { move-column-to-workspace 7; }
    Super+Shift+8 { move-column-to-workspace 8; }
    Super+Shift+9 { move-column-to-workspace 9; }
    Super+Shift+0 { move-column-to-workspace 0; }
}
