// ~~ layout ~~

layout {
    gaps 12
    background-color "transparent"

    border     { off; }
    focus-ring { off; }
    shadow     { off; }

	insert-hint {
        color "rgba(163, 167, 112, 0.8)"
    }

    tab-indicator {
    	active-color "hsl(64, 24%, 55%)"
    	inactive-color "hsl(60, 8%, 26%)"
    	urgent-color "#ff7b6e"
    }
}

overview {
	backdrop-color "rgba(163, 167, 112, 1.0)"
	workspace-shadow { off; }
}

window-rule {
    match is-floating=true
    border {
        on
        width 2
        active-color "rgba(163, 167, 112, 1.0)"
        inactive-color "rgba(71, 71, 60, 1.0)"
    }
    focus-ring {
        on
        width 2
        active-color "rgba(163, 167, 112, 1.0)"
        inactive-color "rgba(71, 71, 60, 1.0)"    	
    }
}

recent-windows {
    highlight {
        active-color "hsl(64, 36%, 68%)"
        urgent-color "hsl(5, 100%, 72%)"        
        padding 20
        corner-radius 8
    }
}
