// ~~ layout ~~

layout {
    gaps 12
    background-color "transparent"

    border     { off; }
    focus-ring { off; }
    shadow     { off; }

	insert-hint {
        color "rgba(122, 171, 181, 0.8)"
    }

    tab-indicator {
    	active-color "hsl(190, 29%, 59%)"
    	inactive-color "hsl(192, 7%, 27%)"
    	urgent-color "#ff7b6e"
    }
}

overview {
	backdrop-color "rgba(122, 171, 181, 1.0)"
	workspace-shadow { off; }
}

window-rule {
    match is-floating=true
    border {
        on
        width 2
        active-color "rgba(122, 171, 181, 1.0)"
        inactive-color "rgba(64, 72, 74, 1.0)"
    }
    focus-ring {
        on
        width 2
        active-color "rgba(122, 171, 181, 1.0)"
        inactive-color "rgba(64, 72, 74, 1.0)"    	
    }
}

recent-windows {
    highlight {
        active-color "hsl(190, 44%, 73%)"
        urgent-color "hsl(5, 100%, 72%)"        
        padding 20
        corner-radius 8
    }
}
